<p id="notice"><%= notice %></p>


<h3> Listings under this category </h3>

<% @food_category.foods.each do |food| %>
	<%= food.name%>
<% end %>

<%= link_to 'Edit', edit_food_category_path(@food_category) %> |
<%= link_to 'Back', food_categories_path %>
